




.weatherApp{
    min-height: 150vh;
    padding-top: 30vh;
    background-image: url('../images/clouds.jpg');
    margin-left: auto;
margin-right: auto;
text-align: center;
}
.weatherApp input {
background-color: aliceblue;

font-size:5vh;
border-radius: 10px;
margin-right:20px;
}
.weatherApp input:first-child{
    width:30vw;
    height:50px;
}
.weatherApp input:nth-child(2){
    width:20vw;
}
.weatherApp input :active{
    border: 3px solid salmon;
}
@media  screen and (max-width: 600px) {
    body{
        background-color: red;
    }
}